In [2]:
import pygal
import numpy as np
import pandas as pd
import IPython
from pygal.style import CleanStyle

In [3]:
def svgreload():
    !osascript -e 'tell application "Google Chrome" to tell the active tab of second window to reload'

In [4]:
# load file
frags = pd.read_csv('20170426_FragAnalysisResults.txt', sep = '\t', header = 0)
frags.columns =  frags.columns.str.replace(' ','').str.lower().str.replace('samplename','sample');
# remove unnecessary columns by just keeping size and height
fragsfilter = frags.columns.values.tolist();
fragsfilter = [x for x in fragsfilter if 'sample' not in x];
fragsfilter = [x for x in fragsfilter if 'size' not in x];
fragsfilter = [x for x in fragsfilter if 'height' not in x];
frags.drop(fragsfilter, axis=1, inplace=True);
frags.head()

       sample   size1  height1  size2  height2  size3  height3  size4  height4
0  tjp2b-6-wt  283.55   9170.0    NaN      NaN    NaN      NaN    NaN      NaN
1   tjp2b-6-H  233.06   1288.0  283.4   5107.0    NaN      NaN    NaN      NaN
2   tjp2b-6-G  283.82   6118.0    NaN      NaN    NaN      NaN    NaN      NaN
3   tjp2b-6-F  283.74   5968.0    NaN      NaN    NaN      NaN    NaN      NaN
4   tjp2b-6-E  283.84   4478.0    NaN      NaN    NaN      NaN    NaN      NaN

In [5]:
frags.loc[
    (frags['sample']=='cadm1a-9-wt')  |
    (frags['sample']=='cadm1a-8-wt')  |
    (frags['sample']=='cadm1a-7-wt')  | 
    (frags['sample']=='cadm1a-7-C')  | 
    (frags['sample']=='cadm1a-7-E')  | 
    (frags['sample']=='cadm1a-9-B')  | 
    (frags['sample']=='cadm1a-9-C')]

,sample,size1,height1,size2,height2,size3,height3,size4,height4
104,cadm1a-9-wt,171.20,1005.0,173.36,913.0,188.00,819.0,189.95,703.0
111,cadm1a-9-C,171.14,693.0,213.04,1264.0,227.66,2271.0,238.36,1017.0
112,cadm1a-9-B,224.71,1810.0,234.37,1011.0,NaN,NaN,NaN,NaN
113,cadm1a-8-wt,227.75,6070.0,238.30,4505.0,NaN,NaN,NaN,NaN
122,cadm1a-7-wt,227.65,17632.0,NaN,NaN,NaN,NaN,NaN,NaN
127,cadm1a-7-E,227.78,788.0,238.33,1244.0,280.91,420.0,301.33,972.0
129,cadm1a-7-C,227.73,2238.0,238.46,760.0,301.48,1182.0,NaN,NaN

In [6]:
frags.loc[
    (frags['sample']=='eml1-8-wt')  |
    (frags['sample']=='eml1-8-I')  |
    (frags['sample']=='eml1-8-K')  |
    (frags['sample']=='eml1-8-C')]

,sample,size1,height1,size2,height2,size3,height3,size4,height4
20,eml1-8-wt,265.98,430.0,281.02,689.0,284.46,555.0,301.33,1094.0
22,eml1-8-K,301.31,639.0,307.85,1519.0,NaN,NaN,NaN,NaN
24,eml1-8-I,301.31,459.0,307.73,1830.0,NaN,NaN,NaN,NaN
30,eml1-8-C,256.56,252.0,281.16,193.0,301.34,652.0,307.73,579.0

In [ ]:
# plot peaks for a single larvae
chart = pygal.XY(
    stroke=True,
    fill=True,
    x_title='log2(baseMean)',
    y_title='log2(foldChange)',
    show_legend=False,
    show_dots=False,
    colors=('#E853A0', '#E8537A','#E8537A'),
)
a = frags.loc[(frags['sample']=='eml1-8-K')]
a = a.values[0,1:]
for i in range(int(len(a)/2)):
    chart.add(['p'+ str(i)],[(a[i]-5,a[i+1]),(a[i]+5,a[i+1])])
chart.render_to_file('test.svg')
svgreload()

In [211]:
# start of code to get color list to distinguish two individuals
from pygal.style import Style
custom_style = Style(
  background='transparent',
  plot_background='transparent',
  foreground='rgba(0, 0, 0, .87)',
  foreground_strong='rgba(0, 0, 0, 1)',
  foreground_subtle='rgba(0, 0, 0, .54)',
  opacity='.7',
  opacity_hover='.8',
  transition='400ms ease-in',
  colors=('rgba(0, 0, 0, 1)'))

chart = pygal.StackedLine(fill=True, interpolate='cubic', style=custom_style)

In [212]:
chart = pygal.XY(
    stroke=True,
    fill=True,
    x_title='log2(baseMean)',
    y_title='log2(foldChange)',
    show_legend=False,
    show_dots=False,
    style=custom_style,
)
a = frags.loc[(frags['sample']=='eml1-8-K')]
a = a.values[0,1:]
for i in range(int(len(a)/2)):
    chart.add(['p'+ str(i)],[(a[i]-5,a[i+1]),(a[i]+5,a[i+1])])
chart.render_to_file('test.svg')
svgreload()

In [7]:
from Bio import SeqIO

In [41]:
record = SeqIO.parse("cpne3-1-B_B09.fsa", "abi")

In [42]:
record