### Create and modify sqllite3 database to manage eurofins sequencing results

In [1]:
from IPython.display import HTML, display
import sqlite3
conn = sqlite3.connect('SeqDB.db')
c = conn.cursor()

In [27]:
def printall():
    c.execute("SELECT * FROM SeqInfo ORDER BY date, gene,id, barcode")
    columnnames = tuple([member[0] for member in c.description]);
    seqdata = c.fetchall();
    seqdata.insert(0,columnnames)
    display(HTML(
    '<table><tr>{}</tr></table>'.format(
        '</tr><tr>'.join(
            '<td>{}</td>'.format('</td><td>'.join(str(_) for _ in row)) for row in seqdata)
                    )
                 )
           )

#### Create table (only runs once to create database)
> c.execute('''CREATE TABLE SeqInfo(gene text,
id text,
barcode text,
primer text,
DNAqspec numeric,
date date,
sequenced boolean,
expectation text
results text);''')

#### Insert a new row of data
> c.execute('''INSERT INTO SeqInfo VALUES (
              'cadm1a', 
              '3C', 
              'AWT000', 
              '2017-04-24',
              1,
              'not mutant')''')

In [32]:
c.execute('''CREATE TABLE SeqInfo(
            gene text,
            id text,
            barcode text,
            primer text,
            DNAqspec numeric,
            date date,
            sequenced boolean,
            expectation text,
            results text);''')

In [22]:
# Insert a new row of data
# c.execute('''INSERT INTO SeqInfo VALUES (
#              'cadm1a', 
#              '3H',
#              'ANW091',
#              'FWD',
#              23.6,
#              '2017-04-04',
#              1,
#              '+26bp?',
#              'not mutant')''')

In [33]:
# Insert a new row of data
c.execute('''INSERT INTO SeqInfo VALUES ('cadm1a','3H','ANW091','FWD',23.6,'2017-04-04',1,'deletion?','not mutant')''')
c.execute('''INSERT INTO SeqInfo VALUES ('cadm1a','5F','ANW090','FWD',25.2,'2017-04-04',1,'+26bp?','not mutant')''')
c.execute('''INSERT INTO SeqInfo VALUES ('cadm1a','4wt','ANW089','FWD',21.3,'2017-04-04',1,'wild type','wild type')''')

In [34]:
conn.commit();
printall();

In [ ]:
conn.close();

In [29]:
# # # # # # # #  c.execute('DROP TABLE SeqInfo')