DNA lysis

###### Phusion PCR setup:
    DNA (1:10) dilution = 2 uL
    Water = 10.4 uL
    F primer (10 uL) = 1 uL
    R primer (10 uL) = 1 uL
    M13-FAM primer (10 uM) = 1 uL
    Phusion polymerase = 0.2 uL
    5x buffer = 4 uL
    dNTP mix = 0.4 uL

In [1]:
import numpy as np
import pandas as pd

In [2]:
volumes  = [10.4, 4, 0.4, 1, 1, 1, 0.2];
names = ['Water','Buffer5x','dNTP mix','FWD','REV','M13-FAM','Phusion'];

In [9]:
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);
PhusionDefault

            1x
Water     10.4
Buffer5x   4.0
dNTP mix   0.4
FWD        1.0
REV        1.0
M13-FAM    1.0
Phusion    0.2

In [29]:
genes = ['cadm1a (n=3)','cadm1b (n=3)','cpne3 (n=2)','tjp2a (n=2)','tjp2b (n=2)','nrxn3aS (n=3)','nrxn3aL (n=3)','nrxn3bS (n=3)','nrxn3bL (n=3)'];
n_reactions = [(8*3),(8*3),(8*2),(8*2),(8*2),(8*3),(8*3),(8*3),(8*3)];

In [42]:
PCR = pd.DataFrame.copy(PhusionDefault)
for i in range(len(genes)):
    PCR[genes[i]] = pd.Series(PCR['1x'] * round((n_reactions[i]*1.1),1))

In [43]:
PCR
#PCR = pd.DataFrame(data = n_reactions, columns=genes)

,1x,cadm1a (n=3),cadm1b (n=3),cpne3 (n=2),tjp2a (n=2),tjp2b (n=2),nrxn3aS (n=3),nrxn3aL (n=3),nrxn3bS (n=3),nrxn3bL (n=3)
Water,10.4,274.56,274.56,183.04,183.04,183.04,274.56,274.56,274.56,274.56
Buffer5x,4.0,105.60,105.60,70.40,70.40,70.40,105.60,105.60,105.60,105.60
dNTP mix,0.4,10.56,10.56,7.04,7.04,7.04,10.56,10.56,10.56,10.56
FWD,1.0,26.40,26.40,17.60,17.60,17.60,26.40,26.40,26.40,26.40
REV,1.0,26.40,26.40,17.60,17.60,17.60,26.40,26.40,26.40,26.40
M13-FAM,1.0,26.40,26.40,17.60,17.60,17.60,26.40,26.40,26.40,26.40
Phusion,0.2,5.28,5.28,3.52,3.52,3.52,5.28,5.28,5.28,5.28

In [44]:
#Need to create html output into a letter sized
PCR.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>1x</th>\n      <th>cadm1a (n=3)</th>\n      <th>cadm1b (n=3)</th>\n      <th>cpne3 (n=2)</th>\n      <th>tjp2a (n=2)</th>\n      <th>tjp2b (n=2)</th>\n      <th>nrxn3aS (n=3)</th>\n      <th>nrxn3aL (n=3)</th>\n      <th>nrxn3bS (n=3)</th>\n      <th>nrxn3bL (n=3)</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Water</th>\n      <td>10.4</td>\n      <td>274.56</td>\n      <td>274.56</td>\n      <td>183.04</td>\n      <td>183.04</td>\n      <td>183.04</td>\n      <td>274.56</td>\n      <td>274.56</td>\n      <td>274.56</td>\n      <td>274.56</td>\n    </tr>\n    <tr>\n      <th>Buffer5x</th>\n      <td>4.0</td>\n      <td>105.60</td>\n      <td>105.60</td>\n      <td>70.40</td>\n      <td>70.40</td>\n      <td>70.40</td>\n      <td>105.60</td>\n      <td>105.60</td>\n      <td>105.60</td>\n      <td>105.60</td>\n    </tr>\n    <tr>\n      <th>dNTP mix</th>\n      <td>0.4</td>\n      <td>10.56</td>\n      <td>10.56</td>\n      <td>7.04</td>\n      <td>7.04</td>\n      <td>7.04</td>\n      <td>10.56</td>\n      <td>10.56</td>\n      <td>10.56</td>\n      <td>10.56</td>\n    </tr>\n    <tr>\n      <th>FWD</th>\n      <td>1.0</td>\n      <td>26.40</td>\n      <td>26.40</td>\n      <td>17.60</td>\n      <td>17.60</td>\n      <td>17.60</td>\n      <td>26.40</td>\n      <td>26.40</td>\n      <td>26.40</td>\n      <td>26.40</td>\n    </tr>\n    <tr>\n      <th>REV</th>\n      <td>1.0</td>\n      <td>26.40</td>\n      <td>26.40</td>\n      <td>17.60</td>\n      <td>17.60</td>\n      <td>17.60</td>\n      <td>26.40</td>\n      <td>26.40</td>\n      <td>26.40</td>\n      <td>26.40</td>\n    </tr>\n    <tr>\n      <th>M13-FAM</th>\n      <td>1.0</td>\n      <td>26.40</td>\n      <td>26.40</td>\n      <td>17.60</td>\n      <td>17.60</td>\n      <td>17.60</td>\n      <td>26.40</td>\n      <td>26.40</td>\n      <td>26.40</td>\n      <td>26.40</td>\n    </tr>\n    <tr>\n      <th>Phusion</th>\n      <td>0.2</td>\n      <td>5.28</td>\n      <td>5.28</td>\n      <td>3.52</td>\n      <td>3.52</td>\n      <td>3.52</td>\n      <td>5.28</td>\n      <td>5.28</td>\n      <td>5.28</td>\n      <td>5.28</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.