DNA lysis

###### Phusion PCR setup:
    DNA (1:10) dilution = 2 uL
    Water = 10.4 uL
    F primer (10 uL) = 1 uL
    R primer (10 uL) = 1 uL
    M13-FAM primer (10 uM) = 1 uL
    Phusion polymerase = 0.2 uL
    5x buffer = 4 uL
    dNTP mix = 0.4 uL

In [1]:
import numpy as np
import pandas as pd

class gene:
    def __init__(self, gene_name, id_numbers):
        self.name = gene_name
        self.ids = id_numbers
        self.n = len(self.ids.split(','))
        self.string = self.name + '\n (n='+ str(self.n) + ')'
        
        tested_Tms = {'tjp2a': 72, #inconsistent results here. Should order new primers. On 2017/06/07, bands present with 72C.
                      'tjp2b': 64 ,
                      'cadm1a': 64, #tested 67C on 2017/03/30 and bands disappeared
                      'cadm1b': 67,
                      'eml1': 67,
                      'cpne3': 67,
                      'nrxn3aS': 72,
                      'nrxn3aL': 72,
                      'nrxn3bS': 72,
                      'nrxn3bL': 72,
                     }
        self.Tm = tested_Tms.get(self.name, 'default')
# NORMAL Phusion
# volumes  = [10.4, 4, 0.4, 1, 1, 1, 0.2];
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','M13-FAM','Phusion'];
# MASTER MIX Phusion
volumes  = [5, 1, 1, 1, 10];
names = ['Water','FWD','REV','M13-FAM','PhusionMix2x'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

In [2]:
genes=[];
genes.append(gene('tjp2a',('17,19,20')));
genes.append(gene('tjp2b',('17,19,20')));
genes.append(gene('cadm1a',('15,18')));
genes.append(gene('cadm1b',('15,18')));
genes.append(gene('nrxn3aL',('18')));
genes.append(gene('nrxn3bL',('18')));

# genes.append(gene('tjp2b',('8, 9, 11')));
# genes.append(gene('cadm1a',('10, 11, 12')));
# genes.append(gene('cpne3',('11')));

In [17]:
### test PCR (half-volume reactions, no M13-FAM)

### NORMAL Phusion half-volume
# volumes  = [11.4, 4, 0.4, 1, 1, 0.2];
# volumes=np.ndarray.tolist(np.divide(volumes,2))
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','Phusion'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

### MASTER MIX Phusion half-volume
volumes  = [6, 1, 1, 10];
volumes=np.ndarray.tolist(np.multiply(volumes,3/4))
names = ['Water','FWD','REV','PhusionMix2x'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);


genes=[];
genes.append(gene('cadm1a',('16B,10A,10B,10C,10D,10E,10F,10G,10H,10I,10J,10K,10L,10M,10N,10O,10P,10Q,10R,10S,10T')));
genes.append(gene('tjp2a',('8D,8E,8F,8G,14G,14H,18F,18G,18H,18I,18wt,2A,2B,2C,2D,2E,2F,2G,2H,2I,2J,2K,2L,2M,2N,2O,2P,2Q,2R,2S,2T')));
genes.append(gene('tjp2b',('8I,18I,18wt')));
# genes.append(gene('nrxn3aL',('7F,FG')));


PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*1*1.05),1))
PCR.columns.name = '-'
PCR

-               1x  cadm1a\n (n=21)  tjp2a\n (n=31)  tjp2b\n (n=3)
Water         4.50           99.450          146.70           14.4
FWD           0.75           16.575           24.45            2.4
REV           0.75           16.575           24.45            2.4
PhusionMix2x  7.50          165.750          244.50           24.0

In [3]:
volumes

[5, 1, 1, 1, 10]

In [4]:
# PCR table for fragment analysis screen (8 larvae per founder)
PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*8*1.05),1))
PCR.columns.name = '-'
PCR

-,1x,tjp2a (n=3),tjp2b (n=3),cadm1a (n=2),cadm1b (n=2),nrxn3aL (n=1),nrxn3bL (n=1)
Water,5,126.0,126.0,84.0,84.0,42.0,42.0
FWD,1,25.2,25.2,16.8,16.8,8.4,8.4
REV,1,25.2,25.2,16.8,16.8,8.4,8.4
M13-FAM,1,25.2,25.2,16.8,16.8,8.4,8.4
PhusionMix2x,10,252.0,252.0,168.0,168.0,84.0,84.0

In [5]:
names = [];
ids = [];
tms = [];
for g in genes:
    names.append(g.name)
    ids.append(g.ids)
    tms.append(g.Tm)

IDs = pd.DataFrame({'id#': ids, 'Tm (°C)' : tms}, index=names)
IDs.columns.name = 'gene'
#IDs[['id#','Tm (°C)']]
IDs

gene     Tm (°C)       id#
tjp2a         72  17,19,20
tjp2b         64  17,19,20
cadm1a        64     15,18
cadm1b        67     15,18
nrxn3aL       72        18
nrxn3bL       72        18

In [9]:
#Need to create html output into a letter sized
PCR.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>-</th>\n      <th>1x</th>\n      <th>tjp2a\n (n=1)</th>\n      <th>tjp2b\n (n=1)</th>\n      <th>cadm1a\n (n=2)</th>\n      <th>cadm1b\n (n=2)</th>\n      <th>nrxn3aL\n (n=1)</th>\n      <th>nrxn3bL\n (n=1)</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Water</th>\n      <td>5</td>\n      <td>42.0</td>\n      <td>42.0</td>\n      <td>84.0</td>\n      <td>84.0</td>\n      <td>42.0</td>\n      <td>42.0</td>\n    </tr>\n    <tr>\n      <th>FWD</th>\n      <td>1</td>\n      <td>8.4</td>\n      <td>8.4</td>\n      <td>16.8</td>\n      <td>16.8</td>\n      <td>8.4</td>\n      <td>8.4</td>\n    </tr>\n    <tr>\n      <th>REV</th>\n      <td>1</td>\n      <td>8.4</td>\n      <td>8.4</td>\n      <td>16.8</td>\n      <td>16.8</td>\n      <td>8.4</td>\n      <td>8.4</td>\n    </tr>\n    <tr>\n      <th>M13-FAM</th>\n      <td>1</td>\n      <td>8.4</td>\n      <td>8.4</td>\n      <td>16.8</td>\n      <td>16.8</td>\n      <td>8.4</td>\n      <td>8.4</td>\n    </tr>\n    <tr>\n      <th>PhusionMix2x</th>\n      <td>10</td>\n      <td>84.0</td>\n      <td>84.0</td>\n      <td>168.0</td>\n      <td>168.0</td>\n      <td>84.0</td>\n      <td>84.0</td>\n    </tr>\n  </tbody>\n</table>'

In [10]:
IDs.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>gene</th>\n      <th>Tm (°C)</th>\n      <th>id#</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>tjp2a</th>\n      <td>72</td>\n      <td>14</td>\n    </tr>\n    <tr>\n      <th>tjp2b</th>\n      <td>64</td>\n      <td>14</td>\n    </tr>\n    <tr>\n      <th>cadm1a</th>\n      <td>64</td>\n      <td>16, 17</td>\n    </tr>\n    <tr>\n      <th>cadm1b</th>\n      <td>67</td>\n      <td>16, 17</td>\n    </tr>\n    <tr>\n      <th>nrxn3aL</th>\n      <td>72</td>\n      <td>17</td>\n    </tr>\n    <tr>\n      <th>nrxn3bL</th>\n      <td>72</td>\n      <td>17</td>\n    </tr>\n  </tbody>\n</table>'

In [10]:
a=np.arange('a','d')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [14]:
a=np.arange(9,16)
print(a)

[ 9 10 11 12 13 14 15]

In [6]:
np.arange?