DNA lysis

###### Phusion PCR setup:
    DNA (1:10) dilution = 2 uL
    Water = 10.4 uL
    F primer (10 uL) = 1 uL
    R primer (10 uL) = 1 uL
    M13-FAM primer (10 uM) = 1 uL
    Phusion polymerase = 0.2 uL
    5x buffer = 4 uL
    dNTP mix = 0.4 uL

In [7]:
import numpy as np
import pandas as pd

class gene:
    def __init__(self, gene_name, id_numbers):
        self.name = gene_name
        self.ids = id_numbers
        self.n = len(self.ids.split(','))
        self.string = self.name + '\n (n='+ str(self.n) + ')'
        
        tested_Tms = {'tjp2a': 72, #inconsistent results here. Should order new primers. On 2017/06/07, bands present with 72C.
                      'tjp2b': 64 ,
                      'cadm1a': 64, #tested 67C on 2017/03/30 and bands disappeared
                      'cadm1b': 67,
                      'eml1': 67,
                      'cpne3': 67,
                      'nrxn3aS': 72,
                      'nrxn3aL': 72,
                      'nrxn3bS': 72,
                      'nrxn3bL': 72,
                     }
        self.Tm = tested_Tms.get(self.name, 'default')
# normal phusion
# volumes  = [10.4, 4, 0.4, 1, 1, 1, 0.2];
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','M13-FAM','Phusion'];
# Phusion master mix
volumes  = [5, 1, 1, 1, 10];
names = ['Water','FWD','REV','M13-FAM','PhusionMix2x'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

In [8]:
genes=[];
genes.append(gene('nrxn3aS',('2, 3, 4, 6, 7, 8')));
genes.append(gene('nrxn3aL',('2, 3, 4, 6, 7, 8')));
genes.append(gene('nrxn3bS',('2, 3, 4, 6, 7, 8')));
genes.append(gene('nrxn3bL',('2, 3, 4, 6, 7, 8')));
genes.append(gene('tjp2a',('6, 7, 8, 9, 11, 12')));
# genes.append(gene('tjp2b',('8, 9, 11')));
# genes.append(gene('cadm1a',('10, 11, 12')));
# genes.append(gene('cpne3',('11')));

In [ ]:
# test PCR (half-volume reactions, no M13-FAM)
volumes  = [11.4, 4, 0.4, 1, 1, 0.2];
volumes=np.ndarray.tolist(np.divide(volumes,2))
names = ['Water','Buffer5x','dNTP mix','FWD','REV','Phusion'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

genes=[];
genes.append(gene('nrxn3aS',('2,2')));
genes.append(gene('nrxn3aL',('2,2')));
genes.append(gene('nrxn3bS',('2,2')));
genes.append(gene('nrxn3bL',('2,2')));
genes.append(gene('tjp2a',('7,8,7,8')));

In [9]:
PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*8*1.1),1))
PCR.columns.name = '-'
PCR

-,1x,nrxn3aS (n=6),nrxn3aL (n=6),nrxn3bS (n=6),nrxn3bL (n=6),tjp2a (n=6)
Water,5,264.0,264.0,264.0,264.0,264.0
FWD,1,52.8,52.8,52.8,52.8,52.8
REV,1,52.8,52.8,52.8,52.8,52.8
M13-FAM,1,52.8,52.8,52.8,52.8,52.8
PhusionMix2x,10,528.0,528.0,528.0,528.0,528.0

In [6]:
names = [];
ids = [];
tms = [];
for g in genes:
    names.append(g.name)
    ids.append(g.ids)
    tms.append(g.Tm)

IDs = pd.DataFrame({'id#': ids, 'Tm (째C)' : tms}, index=names)
IDs.columns.name = 'gene'
#IDs[['id#','Tm (째C)']]
IDs

gene     Tm (째C)                 id#
nrxn3aS       72    2, 3, 4, 6, 7, 8
nrxn3aL       72    2, 3, 4, 6, 7, 8
nrxn3bS       72    2, 3, 4, 6, 7, 8
nrxn3bL       72    2, 3, 4, 6, 7, 8
tjp2a         72  6, 7, 8, 9, 11, 12

In [ ]:
#Need to create html output into a letter sized
PCR.to_html()

In [ ]:
IDs.to_html()