DNA lysis

###### Phusion PCR setup:
    DNA (1:10) dilution = 2 uL
    Water = 10.4 uL
    F primer (10 uL) = 1 uL
    R primer (10 uL) = 1 uL
    M13-FAM primer (10 uM) = 1 uL
    Phusion polymerase = 0.2 uL
    5x buffer = 4 uL
    dNTP mix = 0.4 uL

In [2]:
import numpy as np
import pandas as pd

class gene:
    def __init__(self, gene_name, id_numbers):
        self.name = gene_name
        self.ids = id_numbers
        self.n = len(self.ids.split(','))
        self.string = self.name + '\n (n='+ str(self.n) + ')'
        
        tested_Tms = {'tjp2a': 58, #inconsistent results here. Should order new primers
                      'tjp2b': 64 ,
                      'cadm1a': 64, #tested 67C on 2017/03/30 and bands disappeared
                      'cadm1b': 67,
                      'eml1': 67,
                      'cpne3': 67,
                      'nrxn3aS': 72,
                      'nrxn3aL': 72,
                      'nrxn3bS': 72,
                      'nrxn3bL': 72,
                     }
        self.Tm = tested_Tms.get(self.name, 'default')

volumes  = [10.4, 4, 0.4, 1, 1, 1, 0.2];
names = ['Water','Buffer5x','dNTP mix','FWD','REV','M13-FAM','Phusion'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

In [120]:
genes=[];
genes.append(gene('nrxn3aS',('2, 3, 4, 6, 7, 8')));
genes.append(gene('nrxn3aL',('2, 3, 4, 6, 7, 8')));
genes.append(gene('nrxn3bS',('2, 3, 4, 6, 7, 8')));
genes.append(gene('nrxn3bL',('2, 3, 4, 6, 7, 8')));
genes.append(gene('tjp2a',('8, 9, 11, 6')));
genes.append(gene('tjp2b',('8, 9, 11')));
genes.append(gene('cadm1a',('10, 11, 12')));
genes.append(gene('cpne3',('11')));

In [29]:
# test PCR (half-volume reactions, no M13-FAM)
volumes  = [11.4, 4, 0.4, 1, 1, 0.2];
volumes=np.ndarray.tolist(np.divide(volumes,2))
names = ['Water','Buffer5x','dNTP mix','FWD','REV','Phusion'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

genes=[];
genes.append(gene('nrxn3aS',('2,2')));
genes.append(gene('nrxn3aL',('2,2')));
genes.append(gene('nrxn3bS',('2,2')));
genes.append(gene('nrxn3bL',('2,2')));
genes.append(gene('tjp2a',('7,8,7,8')));

In [30]:
PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*8*1.1),1))

PCR.rename_axis('_')
PCR.columns.name = '-'
PCR

-,1x,nrxn3aS (n=2),nrxn3aL (n=2),nrxn3bS (n=2),nrxn3bL (n=2),tjp2a (n=4)
Water,5.7,100.32,100.32,100.32,100.32,200.64
Buffer5x,2.0,35.20,35.20,35.20,35.20,70.40
dNTP mix,0.2,3.52,3.52,3.52,3.52,7.04
FWD,0.5,8.80,8.80,8.80,8.80,17.60
REV,0.5,8.80,8.80,8.80,8.80,17.60
Phusion,0.1,1.76,1.76,1.76,1.76,3.52

In [31]:
#Need to create html output into a letter sized
PCR.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>-</th>\n      <th>1x</th>\n      <th>nrxn3aS\n (n=2)</th>\n      <th>nrxn3aL\n (n=2)</th>\n      <th>nrxn3bS\n (n=2)</th>\n      <th>nrxn3bL\n (n=2)</th>\n      <th>tjp2a\n (n=4)</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Water</th>\n      <td>5.7</td>\n      <td>100.32</td>\n      <td>100.32</td>\n      <td>100.32</td>\n      <td>100.32</td>\n      <td>200.64</td>\n    </tr>\n    <tr>\n      <th>Buffer5x</th>\n      <td>2.0</td>\n      <td>35.20</td>\n      <td>35.20</td>\n      <td>35.20</td>\n      <td>35.20</td>\n      <td>70.40</td>\n    </tr>\n    <tr>\n      <th>dNTP mix</th>\n      <td>0.2</td>\n      <td>3.52</td>\n      <td>3.52</td>\n      <td>3.52</td>\n      <td>3.52</td>\n      <td>7.04</td>\n    </tr>\n    <tr>\n      <th>FWD</th>\n      <td>0.5</td>\n      <td>8.80</td>\n      <td>8.80</td>\n      <td>8.80</td>\n      <td>8.80</td>\n      <td>17.60</td>\n    </tr>\n    <tr>\n      <th>REV</th>\n      <td>0.5</td>\n      <td>8.80</td>\n      <td>8.80</td>\n      <td>8.80</td>\n      <td>8.80</td>\n      <td>17.60</td>\n    </tr>\n    <tr>\n      <th>Phusion</th>\n      <td>0.1</td>\n      <td>1.76</td>\n      <td>1.76</td>\n      <td>1.76</td>\n      <td>1.76</td>\n      <td>3.52</td>\n    </tr>\n  </tbody>\n</table>'

In [32]:
names = [];
ids = [];
tms = [];
for g in genes:
    names.append(g.name)
    ids.append(g.ids)
    tms.append(g.Tm)

IDs = pd.DataFrame({'id#': ids, 'Tm (Â°C)' : tms}, index=names)
IDs.columns.name = 'gene'
#IDs[['id#','Tm (Â°C)']]
IDs

gene     Tm (Â°C)      id#
nrxn3aS       72      2,2
nrxn3aL       72      2,2
nrxn3bS       72      2,2
nrxn3bL       72      2,2
tjp2a         58  7,8,7,8

In [ ]:
IDs.to_html()